.instructions-container h1 {
  font-size: 96px;
  color: #604A70;
}

.instructions-heading-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.instructions-3-steps-container {
  width: 100%;
  min-height: 500px;
  background-color: #707070;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  padding: 8px 0;
}

.instructions-3-steps-item {
  margin-top: 48px;
  color: #F0F0F0;
  width: 287px;
}

/* At 870px */
@media (max-width: 54.375em) {
  .instructions-container h1 {
    font-size: 80px;
  }
}

/* At 700px */
@media (max-width: 43.75em) {
  .instructions-container h1 {
    font-size: 64px;
  }
}

/* At 570px */
@media (max-width: 35.625em) {
  .instructions-container h1 {
    font-size: 40px;
  }
}