<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
  <title>Instructions - Tic Tac Toe</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="./css/main.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <script src="/javascript/audio.js"></script>
</head>
<body>
  <header th:include="header :: header"></header>
  <div class="instructions-container">
    <div class="instructions-heading-container">
      <h1>You vs Computer</h1>
    </div>
    <div class="instructions-3-steps-container">
      <div class="instructions-3-steps-item">
        <img src="/images/instructions-1.png" alt="Instructions 1" width="287" height="335px">
        <p>
          Wait until it is your turn
        </p>
      </div>
      <div class="instructions-3-steps-item">
        <img src="/images/instructions-2.png" alt="Instructions 2" width="287" height="335px">
        <p>
          Hover your mouse over the section where you want to place the circle
          and then click on that section
        </p>
      </div>
      <div class="instructions-3-steps-item">
        <img src="/images/instructions-3.png" alt="Instructions 3" width="287" height="335px">
        <p>
          Get 3 circles in a consecutive order to win the game
        </p>
      </div>
    </div>
    <div class="instructions-heading-container">
      <h1>That's it</h1>
      <a href="/play">
        <button class="button">
          Play
        </button>
      </a>
    </div>
  </div>
  <footer th:include="footer :: footer"></footer>
</body>
</html>