<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
  <title>Play - Tic Tac Toe</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="./css/main.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <script src="/javascript/audio.js"></script>
  <script src="/javascript/play.js"></script>
</head>
<body>
  <header th:include="header :: header"></header>
  <div class="play-container">
    <div id="play-game-circle" class="play-game-circle"></div>
    <div class="play-game-container">
      <div id="play-game-play-area" class="play-game-play-area">

        <!-- Each square that makes up the 9 square grid. -->
        <div id="play-game-square-1" class="play-game-square"></div>
        <div id="play-game-square-2" class="play-game-square"></div>
        <div id="play-game-square-3" class="play-game-square"></div>
        <div id="play-game-square-4" class="play-game-square"></div>
        <div id="play-game-square-5" class="play-game-square"></div>
        <div id="play-game-square-6" class="play-game-square"></div>
        <div id="play-game-square-7" class="play-game-square"></div>
        <div id="play-game-square-8" class="play-game-square"></div>
        <div id="play-game-square-9" class="play-game-square"></div>

        <!-- The lines for if someone wins. -->
        <div id="play-game-over-line-1" class="play-game-over-line"></div>
        <div id="play-game-over-line-2" class="play-game-over-line"></div>
        <div id="play-game-over-line-3" class="play-game-over-line"></div>
        <div id="play-game-over-line-4" class="play-game-over-line"></div>
        <div id="play-game-over-line-5" class="play-game-over-line"></div>
        <div id="play-game-over-line-6" class="play-game-over-line"></div>
        <div id="play-game-over-line-7" class="play-game-over-line"></div>
        <div id="play-game-over-line-8" class="play-game-over-line"></div>
      </div>
      <div class="play-game-turn-and-stats">
        <h2 id="play-game-turn-text"></h2>
        <span class="play-game-stats">
          <p id="play-game-stat-wins">Wins:</p>
          <p id="play-game-stat-draws">Draws:</p>
          <p id="play-game-stat-loses">Loses:</p>
        </span>
      </div>
    </div>
    <div id="play-game-over-container" class="play-game-over-container">
      <div class="play-game-over-content">
        <h1 id="play-game-over-result"></h1>
        <div class="play-game-over-buttons-container">
          <a href="/play">
            <button class="button">
              Play Again
            </button>
          </a>
          <a href="/">
            <button class="button-inverted">
              Main Menu
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer th:include="footer :: footer"></footer>
</body>
</html>